*, ::after, ::before {
    box-sizing: border-box;
  
}

body{
    margin:0;
    font-family: Poppins, sans-serif;
}

@layer backgroudCircles{
    .circle-1{
        position: absolute;
        width: 25vw;                 /* ! use vw to make circle scalable */
        height: 25vw;                /* ! use vw to make circle scalable */
        border-radius: 50%;
        background-color: rgb(188, 58, 128, .1);
        bottom: 5vw;
        left: 5vw;
        z-index: -1;
      }
    
      .circle-2{
        position: absolute;
        width: 45vw;
        height: 45vw;
        bottom: 0;
        right: 0;
        z-index: -1;
        overflow: hidden;
      }
      .circle-2::after{
        content: '';
        transform: translate(40%, 40%);
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: rgb(52, 87, 178, .1);
      }

      .circle-3{
        position: absolute;
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        background-color: rgb(52, 87, 178, .1);
        top: 15vw;
        left: 35vw;
        z-index: -1;
      }
}


@layer contentBox{

    .content{
        position: absolute;
        display: flex;
        align-items: stretch; 
        min-height: 70%;
        bottom: 0;
        left: 20%;
    }

    .image-box{
        display: flex;      
    }

    .image-girl{
        background-image: url(images/landing-page-girl.png);
        max-height: 100vh;
        min-width: 30vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom left;   
    }

    .content-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem;
        align-self: center;
    }
    .content-box a{
        text-decoration: none;
        color: white;
    }

    .content-box > button{
        background-color: #e80f866f;
        border: none;
        font-family: inherit;
        padding: 0.8rem 1.5rem;
        border-radius: 0.5rem;
        font-style: inherit;
    }

    .content-box > button:hover, .content-box > button:focus{
        background-color: #e80f86cc ;
        cursor: pointer;
    }

}

@layer media{
    @media screen and (max-width: 904px){

        .content .image-box .image-girl{
            display: none;  
        }
    

        .content{
            justify-content: center;
            padding-bottom: 40vh;
            margin-right: 20vw;
        }      
    }

    @media screen and (max-width: 604px){

        .content .image-box .image-girl{
            display: none;  
        }
    

        .content{
            justify-content: center;
            padding-bottom: 40vh;
            margin-right: 10vw;
        }      
    }
}


